body {
  background-color: #468499;
}
p {
  color: #ffffff;
  font-style: bold;
  font-family: arial;
}
#content {
  background-color: #303030;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 15px;
}
#nav {
  background-color: #708090;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
button {
  border-style: solid;
  border-width: 3px;
  border-color: #708090;
}
#logo {
  background-color: #708090;
}
