body {
  background-image:url('https://cloud.githubusercontent.com/assets/7268773/6073836/bd05298e-ad79-11e4-842e-c68ee19ca9b4.jpg');
  background-repeat: repeat-x;
  background-position: left bottom;
}
